*{
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

/*
insta blue : #(76,104,215)
*/

/* ---------- Mobile ---------- */
body {
	padding: 70px 0;
	margin: 0;

}

h1 {
	text-align: center;
}

div {
	text-align: center;
}

p {
	display: inline-block;
}

section {
	display: block;
	padding: 30px;
} 

img {
	margin: 7px 0 -5px 0;
	padding: 0 5px;
}

button {
	display: inline-block;
	background-color: rgb(76,104,215);
	border-radius: 3px;
	border: none;
	color: white;
	box-shadow: 1px 1px 1px black;
	display: table-cell;
	padding: 0 10px 10px 0;
	text-decoration: none;
}

li {
	display: inline;
	margin: 0 5px;
}

footer {
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding-bottom: 2%;
	background: white;
	clear: both;
}

#logo {
	display: none;
	float: left;
}

#replacer {
	font-family: 'Cookie', cursive;
	font-size: 70px;
	margin: 0;
	color: white;
	clear: right;
}
.copyright {
	color: grey;
}

.blue {
	color: rgb(58,89,117);
	font-weight: bold;
}

.gradient {
	background: #1f82c9;
    background: -webkit-linear-gradient(#1f82c9, rgb(58,89,117)); 
    background: -o-linear-gradient(#1f82c9, rgb(58,89,117)); 
    background: -moz-linear-gradient(#1f82c9, rgb(58,89,117));
    background: linear-gradient(#1f82c9, rgb(58,89,117));
    position: absolute;
    top: 0;
    height: 45%;
}

.small-img{
	width: 70px;
	margin: 10px 25px 0 0;
}

.btn-login {
	margin: 20px 30px 0 0;
	float: right;
}

.div-set {
	vertical-align: middle;
	line-height: 70px;
	padding: 10px 0;
	height: 100px;
	display: inline-block;

}

.inline-block {
	display: inline-block;
}

.container {
	display: inline-block;
	height: 513px;
	padding: 0;
	margin-top: 10px;
	margin-right: 5%;
}

.info-text {
	background: white;
	text-align: left;
	padding: 10px 50px 30px 50px;
	margin: 0;
	border-radius: 10px;
	max-width: 500px;
	-webkit-box-shadow: 0px -2px 26px 0px rgba(0,0,0,0.69);
	-moz-box-shadow: 0px -2px 26px 0px rgba(0,0,0,0.69);
	box-shadow: 0px -2px 26px 0px rgba(0,0,0,0.69);
}

.btn-bottom {
	display: inline-block;
}

.phones {
	display: none;
}

.center {
	width: 100%;
	padding: 5% 0 0 10%;
}

@media (min-width: 425px){
	#logo{
		display: inline-block;
		margin-right: 50px
	}
	#replacer {
		display: none;
	}
	.small-img {
		display: none;
	}
}


/* ---------- Tablet ---------- */
@media (min-width: 768px) {
	section {
		display: block;
		padding: 30px;
		height: 40vh;
	} 

	#logo {
		margin-right: 40px;
	}
	
	

}


/* ---------- Desktop ---------- */
@media (min-width: 1030px){
	.phones {
		display: inline-block;
	}
}